sidebar.friends{
	overflow: hidden;
	//max-height: 0;
	margin-bottom: 10px;
	div.contact{
		height: 100px;
		background-color: blanchedalmond ;
	}
}
@media screen and (min-width: 769px){
	sidebar.friends{
		max-height: unset;
	}
}