sidebar.messages{
	overflow: hidden;
	margin-bottom: 70px;
	//max-height: 0;
	div.message{
		img{
			//width: 32px;

		}
		//height: 100px;
		//background-color: blueviolet ;
	}
}

@media screen and (min-width: 769px){
	sidebar.messages{
		max-height: unset;
	}
}
